%h1.title Standings
= render 'users/table_tabs'
.s20
%span.left-margin Turn sound on and click ->
%a#play.fa.fa-volume-up.left-margin.is-large

.s20
%img{src: '/images/daily.jpeg'}
.s20
%img{src: '/images/daily2.jpeg'}
.s20
%img{src: '/images/daily3.jpeg'}

%audio#halau{autoplay: true}
  %source{src: "images/halau.mp3", type: "audio/mpeg"}



