%h1.title Standings
= render 'users/table_tabs'
.s20
%img{src: '/images/daily.jpeg'}
.s20
%img{src: '/images/daily2.jpeg'}
.s20
%img{src: '/images/daily3.jpeg'}

%audio{autoplay: true}
  %source{src: "images/halau.mp3", type: "audio/mpeg"}

