%h1.title Admin settings
= render '/messages'

%a.button.is-text{href: '/admin/horses'} Admin Horses settings
%a.button.is-text{href: '/admin/reports'} Admin Reports settings
.s20

%form{method: :post, action: '/games/update'}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  %table.table.is-full-width.display-block
    %tbody.tbody
      - for game in @games
        = render partial: 'games/form', locals: {game: game}
  .s40
  %button.button.is-link.is-full-width.submit-button{type: :submit} Submit
