.tabs
  %ul
    %li{ class: @active_tab == 'points' ? 'is-active' : '' }
      %a{href: '/standings/points'} Standings
    %li{ class: @active_tab == 'horses' ? 'is-active' : '' }
      %a{href: '/standings/horses'} Special Bets
    %li{ class: @active_tab == 'statistics' ? 'is-active' : '' }
      %a{href: '/standings/statistics'} Stats
    %li{ class: @active_tab == 'reports' ? 'is-active' : '' }
      %a{href: '/reports'} Reports

