%h1.title Horses
%form{method: :post, action: '/horses'}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  - if horses_editable?
    = render 'horses_form'
  - else
    = render 'horses_show'
