%section.hero.is-success.is-fullheight
  .hero-body.no-padding-top
    .container.has-text-centered
      .column
        %h3.title.has-text-grey Account Name
        = render '/messages'
        .box
          %figure.avatar
            %img{src: '/images/128.jpg'}
          %form{method: :get, action: '/users/new'}
            .field
              .control
                %input{name: :account_name, class: 'input is-large', autofocus: "", placeholder: "Name", required: true}
            %button.button{type: :submit, class: "button is-block is-primary is-large is-fullwidth"} Next
