%h1.title Standings
= render 'users/table_tabs'

- if not bop_account?
  .s20
  %p.left-margin Coming Soon!
- else
  .tabs.is-toggle.is-fullwidth
    %ul
      %li{ class: @active_subtab == 'leaders' ? 'is-active' : '' }
        %a{href: '/statistics/leaders'} Leaders
      %li{ class: @active_subtab == 'segments' ? 'is-active' : '' }
        %a{href: '/statistics/segments'} Segments
      %li{ class: @active_subtab == 'score_by_date' ? 'is-active' : '' }
        %a{href: '/statistics/score_by_date'} Score by date

  - if @active_subtab == 'leaders'
    = render '/users/statistics_leaders'
  - elsif @active_subtab == 'segments'
    = render '/users/statistics_segments'
  -elsif @active_subtab == 'score_by_date'
    = render '/users/statistics_score_by_date'
