.tabs
  %ul
    %li{ class: @active_tab == 'a' ? 'is-active' : '' }
      %a{href: '/games/group_stage/a'} Group A
    %li{ class: @active_tab == 'b' ? 'is-active' : '' }
      %a{href: '/games/group_stage/b'} Group B
    %li{ class: @active_tab == 'c' ? 'is-active' : '' }
      %a{href: '/games/group_stage/c'} Group C
    %li{ class: @active_tab == 'd' ? 'is-active' : '' }
      %a{href: '/games/group_stage/d'} Group D
    %li{ class: @active_tab == 'e' ? 'is-active' : '' }
      %a{href: '/games/group_stage/e'} Group E
    %li{ class: @active_tab == 'f' ? 'is-active' : '' }
      %a{href: '/games/group_stage/f'} Group F
    %li{ class: @active_tab == 'g' ? 'is-active' : '' }
      %a{href: '/games/group_stage/g'} Group G
    %li{ class: @active_tab == 'h' ? 'is-active' : '' }
      %a{href: '/games/group_stage/h'} Group H