.tabs.is-fullwidth
  %ul
    %li{ class: @active_tab == 'a' ? 'is-active' : '' }
      %a{href: '/games/group_stage/a'} A
    %li{ class: @active_tab == 'b' ? 'is-active' : '' }
      %a{href: '/games/group_stage/b'} B
    %li{ class: @active_tab == 'c' ? 'is-active' : '' }
      %a{href: '/games/group_stage/c'} C
    %li{ class: @active_tab == 'd' ? 'is-active' : '' }
      %a{href: '/games/group_stage/d'} D
    %li{ class: @active_tab == 'e' ? 'is-active' : '' }
      %a{href: '/games/group_stage/e'} E
    %li{ class: @active_tab == 'f' ? 'is-active' : '' }
      %a{href: '/games/group_stage/f'} F
