%h1.title Knockout Stage
= render 'games/knockout_stage_tabs'
- if @games.any?
  %form#bets-form{method: :post, action: '/bets'}
    %table.table.is-full-width
      %tbody.tbody
        = hidden_field_tag :authenticity_token, form_authenticity_token
        - for game in @games
          = render partial: 'games/bet_form', locals: {game: game, bet: @bets.where(game: game).take}
