@import "bulma";
@import "font-awesome";

.right_padded {
  padding-right: 10px;
}

.title {
  padding-top: 10px;
}

.main {
  padding-left: 200px;
}

aside.menu{
  width: 200px;
  height: 100%;
  position: fixed;
  border-right: grey 1px solid;
}

a.navbar-burger:hover{
  color: inherit;
}

.one_digit{
  width: 36px;
  text-align: center;
}

.input[disabled]{
  color: #3273dc;
  font-weight: bold;
}

.is-full-width{
  width: 100%;
}

.large-font{
  font-size: 20px;
}

.hidden{
  visibility: hidden;
}


.center {
  margin: auto;
  width: 50%;
}

.text_centered {
  text-align: center;
}

.flag_icon {
  max-width: 32px;
  margin-bottom: -3px;
  margin-right: 5px;
}

.narrow{
  width: 175px;
}

/* general */

.s10 {
  height: 10px;
}
.s20 {
  height: 20px;
}
.s30 {
  height: 30px;
}
.s40 {
  height: 40px;
}
.s50 {
  height: 50px;
}
.s50 {
  height: 50px;
}