// $darker-red: #821B15;
$darker-red: #c0392b;
$dark-red: #c0392b;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $darker-red;
$link: $dark-red;


@import "bulma";
@import "font-awesome";

body{
  max-width: 500px;
  margin: auto;
}

.min-width{
  min-width: 50px !important;
}

.bold{
  font-weight: bold;
}

.red{
  color: $dark-red;
}

.grey{
  color: darkgrey;
}

.wide-column{
  padding: 5px 0 !important;
}

nav.navbar.is-dark{
  background-image: url("/images/navbar-background.png");
  background-size: 200px;
}

.dark-red{
  color: $dark-red;
}

.green{
  color: green;
}

.orange{
  color: orange;
}

.content p{
  margin-bottom: 3px !important;
}

.hero-body.no-padding-top{
  padding-top: 0;
}

.tabs.is-toggle li a{
  border-radius: 0 !important;
}

footer {
  border-top: 1px #c0392b solid;
  position: fixed;
  bottom: 0;
  max-width: 500px;
  width: 100%;
  // background: #ecf0f1;
  background: white;
  .tabs a {
    border-radius: 0 !important;
    padding: 3px 0 0 0;
  }

  a:hover{
    border-bottom: none;
  }
  li{
    width: 20%;
    font-weight: bold;
  }
  li.is-active a{
    background-image: url("/images/navbar-background.png");
    background-size: 200px;

  }
}
.right_padded {
  padding-right: 10px;
}

.title {
  padding-top: 10px;
}

.main {
  padding-left: 200px;
}

.banner {
  height: 46px;
  padding: 0;
}

.border-bottom{
  border-bottom: 1px solid #dbdbdb !important;
}

a.navbar-burger:hover{
  color: inherit;
}

.one_digit{
  width: 28px;
  text-align: center;
}

.input[disabled]{
  color: $dark-red;
  font-weight: bold;
}

.is-full-width{
  max-width: 500px;
  width: 100%;
}

.container {
  max-width: 500px;
}

.large {
  height: 50px;
  width: 50px;
}

table tr td.no-padding {
  padding-right: 1px !important;
  padding-left: 3px !important;
}

table tr td.left-bet-td {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

table tr td.no-padding-bottom{
  padding-bottom: 0;
}

button.button.submit-button{
  height: 50px;
  position: fixed;
  bottom: 55px;
  border-radius: 0;
  background-color: $darker-red;
  -webkit-box-shadow: 0 1px 3px #bbb;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 1px 3px #bbb;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 1px 3px #bbb;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.columns.no-padding-bottom{
  margin-bottom: 0;
  .column {
    padding-bottom: 0;
  }

}

.active-deadline{
  background-color: #FFFBCC;
}

.icon-inline-text {
  height: 14px;
}

.large-font{
  font-size: 20px;
}

.no-padding-top{
  padding-top: 0 !important;
}

.hidden{
  visibility: hidden;
}

.center {
  margin: auto;
  width: 50%;
}

.image-center{
  display:block;
  margin:auto;
}

.text-centered {
  text-align: center !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

table.table th.centered{
  vertical-align: middle;
  text-align: center;
}

table.table th.align-bottom{
  vertical-align: bottom;
}

.flag_icon {
  max-width: 32px;
  margin-bottom: -3px;
  margin-right: 2px;
  margin-left: 2px;
}

table tr.no-border {
  td {
    border: none;
  }
}

table tr.no-border-bottom {
  td {
    border-bottom: none;
  }
}

table tr.border-top {
  td {
    border-top: 1px solid #dbdbdb;
  }
}

table.table.is-fullwidth select{
  min-width: 195px;
}

.tabs.less-padding a{
  padding: 0.5em 0.8em;
}

.narrow{
  width: 175px;
}

table tr td.action-button{
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  a {
    display: block;
  }
}

.clickable{
  cursor: pointer;
  &:hover a{
    color: #363636;
  }
}

table.table {
  overflow-x: auto;
  overflow-y: auto;
  word-wrap: inherit;
  &.word-wrap td{
    white-space: nowrap;
  }

}

.stadium-text{
  color: darkgrey;
  font-size: 12px;
}

.regular-size{
  font-size: 14px !important;
}

.display-block{
  display: block;
}

.align-right{
  text-align: right !important;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

h1.title{
  padding-left: 5px;
}
h1.title:not(:last-child){
  margin-bottom: 15px;
}

.left-margin{
 margin-left: 5px;
}

.left-padding{
 padding-left: 5px;
}

.right-margin{
 margin-right: 5px;
}

.tabs:not(:last-child) {
  margin-bottom: 0.5rem;
}
/* general */

.s10 {
  height: 10px;
}
.s20 {
  height: 20px;
}
.s30 {
  height: 30px;
}
.s40 {
  height: 40px;
}
.s50 {
  height: 50px;
}
.s50 {
  height: 50px;
}

.s60 {
  height: 60px;
}

.s100 {
  height: 100px;
}

.padded {
  padding: 5px;
}

.boxed{
  border: 1px solid #dbdbdb;
}


.game-score {
  font-weight: bold;
}

.fixed-width {
  width: 160px;
}

#bets-form {
  tr:nth-last-child(2) td.action-button{
    border-bottom: none;
  }

  tr:nth-last-child(3) td.action-button{
    border-bottom: none;
  }
  .table td {
    padding: 0.5em 0.5em;
  }
}

tr td.strikeout:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 10%;
  border-bottom: 1px solid #363636;
  width: 70%;
}

tr td.strikeout:after {
  content: "\00B7";
  font-size: 1px;
}

tr td.strikeout img{
  opacity: 0.2;
}

table td .crossed
{
   background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), #363636, transparent calc(50% + 1px));
   color: darkgrey;
   img {
    opacity: 0.3;
   }
}

#tooltip {
  text-align: center;
  color: #fff;
  background: #111;
  position: absolute;
  z-index: 100;
  padding: 15px;
  &:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
  }
  &.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
  }
  &.left:after {
    left: 10px;
    margin: 0;
  }
  &.right:after {
    right: 10px;
    left: auto;
    margin: 0;
  }
}
