@import "bulma";
@import "font-awesome";

.right_padded {
  padding-right: 10px;
}

.title {
  padding-top: 10px;
}

.main {
  padding-left: 200px;
}

aside.menu{
  width: 200px;
  height: 100%;
  position: fixed;
  border-right: grey 1px solid;
}

.one_digit{
  width: 36px;
}

/* general */

.s10 {
  height: 10px;
}
.s20 {
  height: 20px;
}
.s30 {
  height: 30px;
}
.s40 {
  height: 40px;
}
.s50 {
  height: 50px;
}
.s50 {
  height: 50px;
}