- flash.each do |name, msg|
  - if msg.is_a? Array
    .notification{class: message_class(name)}
      - for message in msg
        %p= message
  - else
    .notification{class: message_class(name)}= msg