%footer
  - if logged_in?
    .tabs.is-fullwidth
      %ul
        %li
          %a{href: '/standings/points'}
            %img.icon.large{src: @active_nav_tab == :standings ? '/images/podium-selected.png' : '/images/podium.png'}
        %li
          %a{href: '/games/today'}
            %img.icon.large{src: @active_nav_tab == :today ? '/images/today-selected.png' : '/images/today.png'}
        %li
          %a{href: '/games/group_stage/a'}
            %img.icon.large{src: @active_nav_tab == :group_stage ? '/images/group-stage-selected.png' : '/images/group-stage.png'}
        %li
          %a{href: '/games/knockout_stage/quarter_finals'}
            %img.icon.large{src: @active_nav_tab == :knockout_stage ? '/images/knockout-stage-selected.png' : '/images/knockout-stage.png'}
        %li
          %a{href: '/special_bets/my'}
            %img.icon.large{src: @active_nav_tab == :special_bets ? '/images/special-selected.png' : '/images/special.png'}
  - else
    .tabs.is-fullwidth
      %ul
        %li
          %a{href: '/login'}
            %img.icon.large{src: @active_nav_tab == :login ? '/images/login-selected.png' : '/images/login.png'}
        %li
          %a{href: '/signup'}
            %img.icon.large{src: @active_nav_tab == :signup ? '/images/signup-selected.png' : '/images/signup.png'}
