%nav.navbar.is-dark{"aria-label" => "main navigation", role: "navigation"}
  .navbar-brand
    %a.navbar-item{href: '#'} BOPDIAL
    %a.navbar-burger#navbar-burger-id{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navMenu", role: "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbar-menu-id.navbar-menu
    .navbar-start
      %a.navbar-item{href: '/the_rules'} The Rules
      %a.navbar-item{href: '/the_table'} The Table
      %a.navbar-item{href: '/games/group_stage/a'} Group Stage
      %a.navbar-item{href: '/games/knockout_stage/round_of_16'} Knockout Stage
    .navbar-end
      %a.navbar-item.is-hidden-touch{href: "#where-section"}
        %i.far.fa-clock.fa-lg

    .navbar-end
      %p.navbar-item.right_padded= "Logged as #{current_user.name}"
      = link_to "Log out", '/logout', method: :delete, id: :logout_button, class: 'navbar-item'