%nav.navbar.is-dark{"aria-label" => "main navigation", role: "navigation"}
  .navbar-brand
    %img.navbar-item.banner{src: '/images/banner.jpeg'}
    .navbar-burger#navbar-burger-id{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navMenu", role: "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbar-menu-id.navbar-menu
    .navbar-start
      %a.navbar-item{href: '/rules'} Rules
      - if admin?
        %a.navbar-item{href: '/admin/settings'} Admin Panel
    .navbar-end
      %a.navbar-item.is-hidden-touch{href: "#where-section"}
        %i.far.fa-clock.fa-lg

    .navbar-end
      = link_to "Log out", '/logout', method: :delete, id: :logout_button, class: 'navbar-item' if logged_in?
