%aside.menu
  %ul.menu-list
    %li
      %a{href: '#'} The Rules
    %li
      %a{href: '#'} The Table
    %li
      %a{href: '/games/group_stage/a'} Group Stage
    %li
      %a{href: '/games/round_of_16'} Round of 16
    %li
      %a{href: '/games/quarter_finals'} Quarter-Finals
    %li
      %a{href: '/games/semi_finals'} Semi-Finals
    %li
      %a{href: '/games/final'} Final
    